Language: Cpp
BasedOnStyle: google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80
UseTab: Never
AlignArrayOfStructures: Left
BreakArrays: true
SpaceBeforeSquareBrackets: true
SpacesInContainerLiterals: true
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: false
AlignConsecutiveAssignments: false
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveMacros: true
AccessModifierOffset: -4
IndentAccessModifiers: false
AllowShortEnumsOnASingleLine: false
# IndentNamespace: true
NamespaceIndentation: All
